    <%- include('./partials/header.ejs') %>
    <div class="row">
        <div class="col-5 m-auto">

            <h2>You are currently editing "<%= job.name %>" Job</h2>

            <form action="/jobs/<%= job._id %>?_method=PATCH" method="post">
                <div class="mb-3">
                    <label for="name" class="form-label">Company Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= job.name %>">
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Company Location</label>
                    <input type="text" class="form-control" id="address" name="address" value="<%= job.address %>">
                </div>
                <div class="mb-3">
                    <label for="image" class="form-label">Company Logo</label>
                    <input type="text" class="form-control" id="image" name="image" value="<%= job.image %>">
                </div>
                <div class="mb-3">
                    <label for="package" class="form-label">Job Stipend</label>
                    <input type="text" class="form-control" id="package" name="package" value="<%= job.package %>">
                </div>
                <div class="mb-3">
                    <label for="cgpa" class="form-label">CGPA</label>
                    <input type="number" class="form-control" id="cgpa" name="cgpa" min="0" max="10" value="<%= job.cgpa %>">
                </div>
                <div class="mb-3">
                    <label for="deadline" class="form-label">Job deadline</label>
                    <input type="date" class="form-control" id="deadline" name="deadline" value="<%= job.deadline %>">
                </div>
                <div class="mb-3">
                    <label for="type" class="form-label">Job type</label>
                    <input type="text" class="form-control" id="type" name="type" value="<%= job.type%>">
                </div>

                <div>
                    <input class="btn btn-primary" type="submit" value="Edit Job">
                </div>
            </form>
        </div>
    </div>

    <%- include('./partials/footer.ejs') %>