<%- include('./partials/header.ejs') %>

    <h2>show page for <%= job.name %></h2>
    <div class="">
        <img src="<%= job.image %>" alt="" width="200px">
        <div class="d-flex">
            <a class="btn btn-warning ms-2 me-2" href="/jobs/<%= job._id %>/edit">Edit</a>
            <form action="/jobs/<%= job._id %>?_method=DELETE" method="post">
                <input class="btn btn-danger" type="submit" value="Delete">
            </form>
        </div>
    </div>
    <div>Job Address : <%= job.address %></div>
    <div>Job Package : <%= job.package %></div>
    <div>Job CGPA : <%= job.cgpa %></div>
    <div>Job Deadline : <%= job.deadline %></div>
    <div>Job Type : <%= job.type %></div>

<%- include('./partials/footer.ejs') %>