<%- include('../partials/header.ejs') %>
    <main class="page-wrapper">

        <!-- Page header-->
        <section class="bg-dark pt-5">
            <div class="container py-5">
                <h1 class="text-light pt-1 pt-md-3 mb-4">Find jobs</h1>
                <!-- Search form-->
                <form class="form-group form-group-light d-block rounded-lg-pill mb-4">
                    <div class="row align-items-center g-0 ms-n2">
                        <div class="col-lg-3 col-xl-4">
                            <div class="input-group input-group-lg border-end-lg border-light"><span
                                    class="input-group-text text-light rounded-pill opacity-50 ps-3"><i
                                        class="fi-search"></i></span>
                                <input class="form-control" type="text" placeholder="Search site...">
                            </div>
                        </div>
                        <hr class="hr-light d-lg-none my-2">
                        <div class="col-lg-5 d-sm-flex">
                            <div class="dropdown w-sm-50 border-end-sm border-light" data-bs-toggle="select">
                                <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown"><i
                                        class="fi-list me-2"></i><span
                                        class="dropdown-toggle-label">Category</span></button>
                                <input type="hidden">
                                <ul class="dropdown-menu dropdown-menu-dark my-3">
                                    <li><a class="dropdown-item" href="#"><span
                                                class="dropdown-item-label">Accounting</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Marketing
                                                &amp; PR</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span
                                                class="dropdown-item-label">Medicine</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Internet
                                                technology</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span
                                                class="dropdown-item-label">HoReCa</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Design,
                                                creativity</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Fitness
                                                &amp; sports</span></a></li>
                                </ul>
                            </div>
                            <hr class="hr-light d-sm-none my-2">
                            <div class="dropdown w-sm-50 border-end-lg border-light" data-bs-toggle="select">
                                <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown"><i
                                        class="fi-map-pin me-2"></i><span
                                        class="dropdown-toggle-label">Location</span></button>
                                <input type="hidden">
                                <ul class="dropdown-menu dropdown-menu-dark my-3">
                                    <li><a class="dropdown-item" href="#"><span
                                                class="dropdown-item-label">Dallas</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span
                                                class="dropdown-item-label">Chicago</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span
                                                class="dropdown-item-label">Houston</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Las
                                                Vegas</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Los
                                                Angeles</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">New
                                                York</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">San
                                                Francisco</span></a></li>
                                </ul>
                            </div>
                        </div>
                        <hr class="hr-light d-lg-none my-2">
                        <div class="col-lg-4 col-xl-3 d-flex align-items-center">
                            <div class="dropdown w-50 w-lg-100" data-bs-toggle="select">
                                <button class="btn btn-link dropdown-toggle" type="button" data-bs-toggle="dropdown"><i
                                        class="fi-geo me-2"></i><span
                                        class="dropdown-toggle-label">Distance</span></button>
                                <input type="hidden">
                                <ul class="dropdown-menu dropdown-menu-dark my-3">
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">10
                                                miles</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">20
                                                miles</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">30
                                                miles</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">40
                                                miles</span></a></li>
                                    <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">50
                                                miles</span></a></li>
                                </ul>
                            </div>
                            <button class="btn btn-primary btn-lg w-50 w-lg-auto rounded-pill" type="button">Find
                                jobs</button>
                        </div>
                    </div>
                </form>
                <!-- Search params (dropdowns)-->
                <div class="d-sm-flex justify-content-between pt-2 pb-1 pb-md-3 pb-lg-4">
                    <div class="d-flex flex-column flex-sm-row flex-wrap">
                        <div class="dropdown me-sm-3 mb-2 mb-sm-3" data-bs-toggle="select">
                            <button
                                class="btn btn-translucent-light btn-sm dropdown-toggle fs-base fw-normal w-100 text-start"
                                type="button" data-bs-toggle="dropdown"><span class="dropdown-toggle-label">Publication
                                    date</span></button>
                            <ul class="dropdown-menu my-1">
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Most
                                            recent</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">5
                                            days</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">15
                                            days</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">1
                                            week</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">1
                                            month</span></a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-sm-3 mb-2 mb-sm-3" data-bs-toggle="select">
                            <button
                                class="btn btn-translucent-light btn-sm dropdown-toggle fs-base fw-normal w-100 text-start"
                                type="button" data-bs-toggle="dropdown"><span class="dropdown-toggle-label">Job
                                    type</span></button>
                            <ul class="dropdown-menu my-1">
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Full-time</span></a></li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Part-time</span></a></li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Remote</span></a></li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Temporary</span></a></li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Contract</span></a></li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Internship</span></a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-sm-3 mb-2 mb-sm-3" data-bs-toggle="select">
                            <button
                                class="btn btn-translucent-light btn-sm dropdown-toggle fs-base fw-normal w-100 text-start"
                                type="button" data-bs-toggle="dropdown"><span
                                    class="dropdown-toggle-label">Company</span></button>
                            <ul class="dropdown-menu my-1">
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">IT Pro
                                            TV</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Zalo Tech
                                            Company</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Elastic
                                            Inc.</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Lift
                                            Web</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">Xbox
                                            Company</span></a></li>
                                <li><a class="dropdown-item" href="#"><span
                                            class="dropdown-item-label">Zapier</span></a></li>
                            </ul>
                        </div>
                        <div class="dropdown me-sm-3 mb-2 mb-sm-3" data-bs-toggle="select">
                            <button
                                class="btn btn-translucent-light btn-sm dropdown-toggle fs-base fw-normal w-100 text-start"
                                type="button" data-bs-toggle="dropdown"><span class="dropdown-toggle-label">Salary
                                    range</span></button>
                            <ul class="dropdown-menu my-1">
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">$500 -
                                            $1,000</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">$1,000 -
                                            $2,000</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">$2,000 -
                                            $5,000</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">$5,000 -
                                            $10,000</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">$10,000 -
                                            $20,000</span></a></li>
                                <li><a class="dropdown-item" href="#"><span class="dropdown-item-label">$20,000 -
                                            $50,000</span></a></li>
                            </ul>
                        </div>
                    </div><a class="d-inline-block text-light text-nowrap py-3" href="#">Advanced search</a>
                </div>
            </div>
        </section>
        <!-- Page content-->
        <section class="position-relative bg-white rounded-xxl-4 zindex-5" style="margin-top: -30px;">
            <div class="container pt-4 pb-5 mb-md-4">
                <!-- Breadcrumb-->
                <nav class="pb-4 my-2" aria-label="Breadcrumb">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/jobs">Find jobs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <%= job.name %>
                        </li>
                    </ol>
                </nav>
                <div class="row">
                    <!-- Single job content-->
                    <div class="col-lg-7 position-relative pe-lg-5 mb-5 mb-lg-0" style="z-index: 1025;">
                        <div class="d-flex justify-content-between mb-2">
                            <div>

                                <img src="<%= job.image %>" width="100px" alt="job-image">
                                <h2 class="h3 mb-0 mt-3">
                                    <%= job.name %>
                                </h2>
                            </div>
                            <div class="text-end"><span
                                    class="badge bg-faded-accent rounded-pill fs-sm mb-2 text-capitalize">
                                    <%= job.type %>
                                </span>
                                <div class="fs-sm text-muted">
                                    <%= moment(job.createdAt).fromNow() %>
                                </div>
                            </div>
                        </div>
                        <ul class="list-unstyled fs-sm mb-4">
                            <li class="mb-2"><a class="d-flex align-items-center text-decoration-none" href="#"><i
                                        class="fi-external-link me-2"></i><span class="text-decoration-underline">
                                        <%= job.name %> Company
                                    </span></a></li>
                            <li class="d-flex align-items-center mb-2"><i class="fi-map-pin text-muted me-2"></i><span>
                                    <%= job.address %>
                                </span></li>
                            <li class="d-flex align-items-center mb-2"><i
                                    class="fi-cash fs-base text-muted me-2"></i><span>$<%= job.package %></span></li>
                            <li class="d-flex align-items-center mb-2"><i class="fi-phone text-muted me-2"></i><span
                                    class="me-2">Required CGPA : <%= job.cgpa %></span></li>
                            <li class="d-flex align-items-center mb-2"><i class="fi-clock text-muted me-2"></i><span
                                    class="me-2 text-capitalize">
                                    <%= job.type %>
                                </span></li>
                            <li class="d-flex align-items-center mb-2"><i
                                    class="fi-cloud-download text-muted me-2"></i><span
                                    class="me-2 text-capitalize">Deadline : <%= job.deadline.toDateString() %></span>
                            </li>
                        </ul>
                        <hr class="mb-4">
                        <h3 class="h6">Description:</h3>
                        <p>Sit sit viverra aenean nunc. Vestibulum nulla tellus, praesent mi. Eget eu sapien posuere
                            varius nisl. Arcu scelerisque ut venenatis, nec. Sed id etiam nisl nisl, elementum ac odio
                            morbi dolor. Sem mauris turpis ultrices sed porttitor orci, erat. Ultrices ut a mi sem
                            mauris, vitae egestas. Eget suscipit a, consectetur quam sed morbi. Metus, tortor egestas
                            phasellus urna. Lorem eu dictum egestas vitae faucibus congue urna. Sed dolor sed risus duis
                            volutpat ullamcorper.</p>
                        <h3 class="h6 pt-2">Requirements:</h3>
                        <ul class="list-unstyled">
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Placerat id mauris,
                                ac ipsum nulla mi netus vestibulum fringilla.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Turpis venenatis
                                sapien etiam in orci, euismod.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Elit tempor, integer
                                augue aliquam justo.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Ultricies accumsan,
                                malesuada pellentesque malesuada massa sed viverra eget.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Varius mauris netus
                                placerat neque, orci amet odio orci.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Fermentum ut mi sit
                                vel sit dictum mollis turpis.</li>
                        </ul>
                        <h3 class="h6 pt-2">Company offers:</h3>
                        <ul class="list-unstyled">
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Et mattis sit
                                imperdiet risus, fermentum ultrices non.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Sed phasellus
                                consequat nunc enim interdum tristique ultrices egestas.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Molestie mus ultrices
                                tellus enim.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Vitae pulvinar massa
                                id lorem aliquam fermentum egestas.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Dictumst blandit sit
                                mauris in consectetur.</li>
                            <li class="d-flex"><span class="text-primary fs-lg me-2">&#8226;</span>Sem purus lorem odio
                                donec faucibus ipsum ultricies.</li>
                        </ul>
                        <p class="pt-2 mb-1">Please, send your CV marked “Partnership Manager” in the subject via
                            e-mail:</p><a class="nav-link-muted fw-bold"
                            href="mailto:contact@example.com">contact@example.com</a>
                        <hr class="my-4">

                        <% if (currentUser && currentUser.isAdmin) { %>
                            <div class="btn-group btn-group-lg">

                                <a href="/jobs/<%= job._id %>/edit"
                                    class="btn btn-primary rounded-pill rounded-end-0 ps-4 pe-3">Edit this position</a>
                                <div class="position-relative border-start border-light zindex-5"
                                    style="margin-left: -1px;"></div>
                                <button class="btn btn-primary rounded-pill rounded-start-0 px-3" type="button"><i
                                        class="fi-pencil me-1"></i></button>
                            </div>

                            <form action="/jobs/<%= job._id %>?_method=DELETE" method="post">
                                <div class="btn-group btn-group-lg my-2">
                                    <input class="btn btn-danger rounded-pill rounded-end-0 ps-4 pe-3" type="submit"
                                        value="Delete this position">
                                    <div class="position-relative border-start border-light zindex-5"
                                        style="margin-left: -1px;"></div>
                                    <button class="btn btn-danger rounded-pill rounded-start-0 px-3" type="button"><i
                                            class="fi-minus me-1"></i></button>
                                </div>
                            </form>
                            <% } %>

                                <div class="btn-group btn-group-lg">
                                    <a href="/jobs/<%= job._id %>/apply"
                                        class="btn btn-primary rounded-pill rounded-end-0 ps-4 pe-3">Apply for
                                        this position</a>
                                    <div class="position-relative border-start border-light zindex-5"
                                        style="margin-left: -1px;"></div>
                                    <button class="btn btn-primary rounded-pill rounded-start-0 px-3" type="button"><i
                                            class="fi-heart me-1"></i></button>
                                </div>
                    </div>
                    <!-- Sticky sidebar-->
                    <aside class="col-lg-5" style="margin-top: -6rem;">
                        <div class="sticky-top" style="padding-top: 6rem;">
                            <div class="card shadow-sm mb-3 mb-lg-0">
                                <div class="card-body">
                                    <h2 class="h3">Subscribe to our newsletter</h2>
                                    <p>Don’t miss any job updates and relevant vacancies info!</p>
                                    <form class="form-group rounded-pill mb-3">
                                        <div class="input-group"><span class="input-group-text text-muted"><i
                                                    class="fi-mail text-muted"></i></span>
                                            <input class="form-control" type="text" placeholder="Your email">
                                        </div>
                                        <button class="btn btn-primary rounded-pill" type="button">Subscribe</button>
                                    </form>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="agree">
                                        <label class="form-check-label" for="agree">I agree to receive communications
                                            from Finder.</label>
                                    </div>
                                    <hr class="my-4">
                                    <div class="d-flex align-items-end">
                                        <div class="fs-lg fw-bold me-3">Like our jobs?<br>Receive vacancies in Telegram
                                        </div><a class="btn btn-icon btn-translucent-primary btn-xs rounded-circle"
                                            href="#"><i class="fi-telegram"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="pt-4 pt-lg-5 ps-4">
                                <h2 class="h3">List of Applied Students:</h2>

                                <% if (currentUser && currentUser.isAdmin) { %>
                                    <ul class="list-unstyled mb-0">
                                        <% for( let student of job.appliedUsers) { %>
                                            <li class="mb-0"><a class="nav-link d-inline-block fw-normal px-0 py-1"
                                                    href="#">
                                                    <%= student.username %>
                                                </a></li>
                                            <% } %>

                                    </ul>
                                    <% } %>
                            </div>
                        </div>
                    </aside>
                </div>
            </div>
        </section>
        <!-- Related jobs (carousel)-->
        <section class="container pt-md-2 pb-5 mb-md-4">
            <div class="d-sm-flex align-items-center justify-content-between pb-4 mb-sm-2">
                <h2 class="h3 mb-sm-0">You may be interested in</h2><a class="btn btn-link fw-normal p-0"
                    href="/jobs">View all<i class="fi-arrow-long-right ms-2"></i></a>
            </div>
            <div class="tns-carousel-wrapper tns-controls-outside-xxl tns-nav-outside tns-nav-outside-flush">
                <div class="tns-carousel-inner"
                    data-carousel-options="{&quot;responsive&quot;: {&quot;0&quot;:{&quot;items&quot;:1, &quot;gutter&quot;: 16},&quot;600&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 16},&quot;768&quot;:{&quot;items&quot;:2, &quot;gutter&quot;: 24},&quot;992&quot;:{&quot;items&quot;:3, &quot;gutter&quot;: 24}}}">
                    <!-- Item-->
                    <div class="pb-4">
                        <div class="card bg-secondary card-hover h-100">
                            <div class="card-body pb-3">
                                <div class="d-flex align-items-center mb-2"><img class="me-2"
                                        src="img/job-board/company/it-pro.png" width="24" alt="IT Pro Logo"><span
                                        class="fs-sm text-dark opacity-80 px-1">IT Pro TV</span><span
                                        class="badge bg-faded-danger rounded-pill fs-sm ms-auto">Hot</span></div>
                                <h3 class="h6 card-title pt-1 mb-2"><a
                                        class="text-nav stretched-link text-decoration-none" href="#">Business
                                        Analyst</a></h3>
                                <p class="fs-sm mb-0"> Blandit a tincidunt arcu nulla. Sem neque, rhoncus non odio nulla
                                    maecenas elit praesent. Orci tristique velit mauris cursus nibh. Hendrerit et dictum
                                    sed...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
                                <div class="fs-sm"><span class="text-nowrap me-3"><i class="fi-map-pin text-muted me-1">
                                        </i>Chicago</span><span class="text-nowrap me-3"><i
                                            class="fi-cash fs-base text-muted me-1"></i>$7,500</span></div>
                                <button
                                    class="btn btn-icon btn-light btn-xs text-primary shadow-sm rounded-circle content-overlay"
                                    type="button" data-bs-toggle="tooltip" title="Add to saved jobs"><i
                                        class="fi-heart"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Item-->
                    <div class="pb-4">
                        <div class="card bg-secondary card-hover h-100">
                            <div class="card-body pb-3">
                                <div class="d-flex align-items-center mb-2"><img class="me-2"
                                        src="img/job-board/company/xbox.png" width="24" alt="Xbox Logo"><span
                                        class="fs-sm text-dark opacity-80 px-1">Xbox Company</span><span
                                        class="badge bg-faded-accent rounded-pill fs-sm ms-auto">Featured</span></div>
                                <h3 class="h6 card-title pt-1 mb-2"><a
                                        class="text-nav stretched-link text-decoration-none" href="#">Full-Stack
                                        Developer</a></h3>
                                <p class="fs-sm mb-0">Euismod nec sagittis sit arcu libero, metus. Aliquam nisl rhoncus
                                    porttitor volutpat, ante cras tincidunt. Nec sit nunc, ornare tincidunt enim,
                                    neque...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
                                <div class="fs-sm"><span class="text-nowrap me-3"><i class="fi-map-pin text-muted me-1">
                                        </i>Washington</span><span class="text-nowrap me-3"><i
                                            class="fi-cash fs-base text-muted me-1"></i>$13,000</span></div>
                                <button
                                    class="btn btn-icon btn-light btn-xs text-primary shadow-sm rounded-circle content-overlay"
                                    type="button" data-bs-toggle="tooltip" title="Add to saved jobs"><i
                                        class="fi-heart"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Item-->
                    <div class="pb-4">
                        <div class="card bg-secondary card-hover h-100">
                            <div class="card-body pb-3">
                                <div class="d-flex align-items-center mb-2"><img class="me-2"
                                        src="img/job-board/company/xampp.png" width="24" alt="XAMPP Logo"><span
                                        class="fs-sm text-dark opacity-80 px-1">XAMPP Company</span><span
                                        class="badge bg-faded-danger rounded-pill fs-sm ms-auto">Hot</span></div>
                                <h3 class="h6 card-title pt-1 mb-2"><a
                                        class="text-nav stretched-link text-decoration-none" href="#">Business
                                        Analyst</a></h3>
                                <p class="fs-sm mb-0">Auctor elit in aenean sodales mattis. Ultricies nec eu augue sit.
                                    Ornare pulvinar enim fames orci enim in libero. Eu, lorem leo netus velit egestas
                                    risus...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
                                <div class="fs-sm"><span class="text-nowrap me-3"><i class="fi-map-pin text-muted me-1">
                                        </i>New Jersey</span><span class="text-nowrap me-3"><i
                                            class="fi-cash fs-base text-muted me-1"></i>$6,500</span></div>
                                <button
                                    class="btn btn-icon btn-light btn-xs text-primary shadow-sm rounded-circle content-overlay"
                                    type="button" data-bs-toggle="tooltip" title="Add to saved jobs"><i
                                        class="fi-heart"></i></button>
                            </div>
                        </div>
                    </div>
                    <!-- Item-->
                    <div class="pb-4">
                        <div class="card bg-secondary card-hover h-100">
                            <div class="card-body pb-3">
                                <div class="d-flex align-items-center mb-2"><img class="me-2"
                                        src="img/job-board/company/zapier.png" width="24" alt="Zapier Logo"><span
                                        class="fs-sm text-dark opacity-80 px-1">Zapier</span><span
                                        class="badge bg-faded-info rounded-pill fs-sm ms-auto">New</span></div>
                                <h3 class="h6 card-title pt-1 mb-2"><a
                                        class="text-nav stretched-link text-decoration-none" href="#">Onboarding
                                        Specialist</a></h3>
                                <p class="fs-sm mb-0">Blandit a tincidunt arcu nulla. Sem neque, rhoncus non odio nulla
                                    maecenas elit praesent. Orci tristique velit mauris cursus nibh. Hendrerit et dictum
                                    sed...</p>
                            </div>
                            <div class="card-footer d-flex align-items-center justify-content-between border-0 pt-0">
                                <div class="fs-sm"><span class="text-nowrap me-3"><i class="fi-map-pin text-muted me-1">
                                        </i>Houston</span><span class="text-nowrap me-3"><i
                                            class="fi-cash fs-base text-muted me-1"></i>$4,000</span></div>
                                <button
                                    class="btn btn-icon btn-light btn-xs text-primary shadow-sm rounded-circle content-overlay"
                                    type="button" data-bs-toggle="tooltip" title="Add to saved jobs"><i
                                        class="fi-heart"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <%- include('../partials/footer.ejs') %>