<%- include('../partials/header.ejs') %>
    <!-- Page content-->
    <!-- Page container-->
    <div class="position-absolute top-0 start-0 w-100 bg-dark" style="height: 398px;"></div>
    <div class="container content-overlay mt-5 mb-md-4 py-5">
        <!-- Breadcrumb-->
        <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
            <ol class="breadcrumb breadcrumb-light">
                <li class="breadcrumb-item"><a href="job-board-home-v1.html">Home</a></li>
                <li class="breadcrumb-item"><a href="job-board-account-profile.html">Account</a></li>
                <li class="breadcrumb-item active" aria-current="page">Profile settings</li>
            </ol>
        </nav>
        <!-- Page card like wrapper-->
        <div class="bg-light shadow-sm rounded-3 p-4 p-md-5 mb-2">
            <!-- Account header-->
            <div class="d-flex align-items-start justify-content-between pb-4 mb-2">
                <div class="d-flex align-items-start">
                    <div class="position-relative flex-shrink-0"><img class="rounded-circle"
                            src="/Images/img/avatars/37.png" width="100" alt="Annette Black">
                        <button
                            class="btn btn-icon btn-light btn-xs rounded-circle shadow-sm position-absolute end-0 bottom-0"
                            type="button" data-bs-toggle="tooltip" title="Change image"><i
                                class="fi-pencil fs-xs"></i></button>
                    </div>
                    <div class="ps-3 ps-sm-4">
                        <h3 class="h5">
                            <%= user.name %>
                        </h3>
                        <ul class="list-unstyled fs-sm mb-0">
                            <li class="d-flex text-nav text-break"><i class="fi-mail opacity-60 mt-1 me-2"></i><span>
                                    <%= user.username %>
                                </span>
                            </li>
                            <li class="d-flex text-nav text-break"><i
                                    class="fi-phone opacity-60 mt-1 me-2"></i><span>CGPA : <%= user.cgpa %></span></li>
                        </ul>
                    </div>
                </div><a class="nav-link p-0 d-none d-md-block" href="/logout"><i class="fi-logout mt-n1 me-2"></i>Sign
                    out</a>
            </div>
            <!-- Account menu--><a class="btn btn-outline-primary btn-lg rounded-pill w-100 d-md-none"
                href="#account-nav" data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>Account Menu</a>
            <div class="collapse d-md-block" id="account-nav">
                <ul class="nav nav-pills flex-column flex-md-row pt-3 pt-md-0 pb-md-4 border-bottom-md">
                    <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link active" href="#"
                            aria-current="page"><i class="fi-settings mt-n1 me-2 fs-base"></i>Profile Settings</a></li>

                    <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link" href="/jobs"><i
                                class="fi-heart mt-n1 me-2 fs-base"></i>Jobs</a></li>
                    <li class="nav-item mb-md-0"><a class="nav-link" href="/notifications"><i
                                class="fi-bell mt-n1 me-2 fs-base"></i>Notifications</a></li>
                    </a></li>
                </ul>
            </div>
            <!-- Authorization info-->
            <div class="row pt-4 mt-3">
                <div class="col-lg-3">
                    <h2 class="h4">Authorization info</h2>
                </div>
                <div class="col-lg-9">
                    <div class="border rounded-3 p-3" id="auth-info">
                        <!-- Email-->
                        <div class="border-bottom pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2">
                                    <label class="form-label fw-bold">Email</label>
                                    <div id="email-value">
                                        <%= user.username %>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Password-->
                        <div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2">
                                    <label class="form-label fw-bold">Password</label>
                                    <div>********</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Personal details-->
            <div class="row pt-4 mt-2">
                <div class="col-lg-3">
                    <h2 class="h4">Personal details</h2>
                </div>
                <div class="col-lg-9">
                    <div class="border rounded-3 p-3" id="personal-details">
                        <!-- Full name-->
                        <div class="border-bottom pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2">
                                    <label class="form-label fw-bold">Full name</label>
                                    <div id="fn-value">
                                        <%= user.name %>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- CGPA-->
                        <div class="border-bottom pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2">
                                    <label class="form-label fw-bold">CGPA</label>
                                    <div id="gender-value">
                                        <%= user.cgpa %>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!-- Account settings-->
            <div class="row pt-4 mt-2">
                <div class="col-lg-3">
                    <h2 class="h4">Account settings</h2>
                </div>
                <div class="col-lg-9">
                    <div class="border rounded-3 p-3" id="account-settings">
                        <!-- Account type-->
                        <div class="border-bottom pb-3 mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2">
                                    <label class="form-label fw-bold">Account type</label>
                                    <div id="type-value">
                                        <%= user.isAdmin=== true ? 'Admin' : 'User' %>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- Two-factor authentication-->
                        <div>
                            <div class="d-flex align-items-center justify-content-between">
                                <div class="pe-2">
                                    <label class="form-label fw-bold">Selected</label>
                                    <div id="auth-value">
                                        <%= user.selected=== true ? 'Selected' : 'Not Selected' %>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </main>
    <%- include('../partials/footer.ejs') %>