<%- include('../partials/header.ejs') %>
    <!-- Page content-->
    <!-- Page container-->
    <div class="position-absolute top-0 start-0 w-100 bg-dark" style="height: 398px;"></div>
    <div class="container content-overlay mt-5 mb-md-4 py-5">
        <!-- Breadcrumb-->
        <nav class="mb-3 mb-md-4 pt-md-3" aria-label="Breadcrumb">
            <ol class="breadcrumb breadcrumb-light">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item"><a href="/jobs/<%= job._id %>/">
                        <%= job.name %>
                    </a></li>
                <li class="breadcrumb-item active" aria-current="page">Test</li>
            </ol>
        </nav>
        <!-- Page card like wrapper-->
        <div class="bg-light shadow-sm rounded-3 p-4 p-md-5 mb-2">
            <!-- Account header-->
            <div class="d-flex align-items-start justify-content-between pb-4 mb-2">
                <div class="d-flex align-items-start">
                    <div class="position-relative flex-shrink-0"><img class="rounded-circle"
                            src="/Images/img/avatars/37.png" width="100" alt="Annette Black">
                        <button
                            class="btn btn-icon btn-light btn-xs rounded-circle shadow-sm position-absolute end-0 bottom-0"
                            type="button" data-bs-toggle="tooltip" title="Change image"><i
                                class="fi-pencil fs-xs"></i></button>
                    </div>
                    <div class="ps-3 ps-sm-4">
                        <h3 class="h5">
                            <%= currentUser.name %>
                        </h3>
                        <ul class="list-unstyled fs-sm mb-0">
                            <li class="d-flex text-nav text-break"><i class="fi-mail opacity-60 mt-1 me-2"></i><span>
                                    <%= currentUser.username %>
                                </span>
                            </li>
                            <li class="d-flex text-nav text-break"><i
                                    class="fi-phone opacity-60 mt-1 me-2"></i><span>CGPA : <%= currentUser.cgpa %>
                                        </span></li>
                        </ul>
                    </div>
                </div><a class="nav-link p-0 d-none d-md-block" href="/jobs"><i class="fi-logout mt-n1 me-2"></i>All
                    Jobs</a>
            </div>
            <!-- Account menu--><a class="btn btn-outline-primary btn-lg rounded-pill w-100 d-md-none"
                href="#account-nav" data-bs-toggle="collapse"><i class="fi-align-justify me-2"></i>Account Menu</a>
            <div class="collapse d-md-block" id="account-nav">
                <ul class="nav nav-pills flex-column flex-md-row pt-3 pt-md-0 pb-md-4 border-bottom-md">
                    <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link" href="/"><i
                                class="fi-settings mt-n1 me-2 fs-base"></i>Home</a></li>
                    <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link active" href="#"
                            aria-current="page"><i class="fi-file mt-n1 me-2 fs-base"></i>Test</a></li>
                    <li class="nav-item mb-md-0 me-md-2 pe-md-1"><a class="nav-link" href="/jobs"><i
                                class="fi-heart mt-n1 me-2 fs-base"></i>All Jobs</a></li>
                    <li class="nav-item mb-md-0"><a class="nav-link" href="/notifications"><i
                                class="fi-bell mt-n1 me-2 fs-base"></i>Notifications</a></li>
                    <li class="nav-item d-md-none"><a class="nav-link" href="/logout"><i
                                class="fi-logout mt-n1 me-2 fs-base"></i>Sign Out</a></li>
                </ul>
            </div>
            <!-- Page title-->
            <div class="d-flex align-items-center justify-content-between py-4 mt-3 mb-2">
                <h1 class="h3 mb-0">Overview</h1><a class="fw-bold text-decoration-none" href="#"><i
                        class="fi-trash me-2"></i><span class="align-middle">Delete all</span></a>
            </div>
            <div class="row">
                <!-- Sidebar-->
                <div class="col-md-3 mb-4 pb-3 pb-md-0">
                    <div style="max-width: 13rem;">
                        <ul class="list-unstyled fs-sm pb-1 pb-md-3">
                            <li><a class="nav-link fw-normal d-flex align-items-center px-0 py-1" href="#"><i
                                        class="fi-file opacity-70 me-2"></i><span>Job Name</span><span
                                        class="text-muted ms-auto">(<%= job.name %>)</span></a></li>
                            <li><a class="nav-link fw-normal d-flex align-items-center px-0 py-1" href="#"><i
                                        class="fi-file-clean opacity-70 me-2"></i><span>Total Questions</span><span
                                        class="text-muted ms-auto">(<%= job.questions.length %>)</span></a></li>
                            <li><a class="nav-link fw-normal d-flex align-items-center px-0 py-1" href="#"><i
                                        class="fi-archive opacity-70 me-2"></i><span>Archived</span><span
                                        class="text-muted ms-auto">(0)</span></a></li>
                        </ul>
                    </div>
                </div>
                <!-- List of resumes-->
                <div class="col-md-9">
                    <!-- Item-->
                    <form action="/jobs/<%= job._id %>/test" method="post">
                        <% j=1 %>
                            <% for(let i in job.questions) { %>
                                <div class="card bg-secondary card-hover mb-2">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex align-items-start">
                                                <div>
                                                    <%= j++ %>
                                                </div>
                                                <div class="ps-sm-3">
                                                    <h3 class="h6 card-title pb-1 mb-2"><a
                                                            class="stretched-link text-nav text-decoration-none"
                                                            href="#" style="pointer-events: none;">
                                                            <%= job.questions[i].description %>
                                                        </a></h3>
                                                    <div class="fs-sm">
                                                        <div class="form-check">
                                                            <input required class="form-check-input" type="radio"
                                                                name="answers[<%= i %>]" id="option1" value="Option1">
                                                            <label class="form-check-label" for="option1"
                                                                style="pointer-events: none;">
                                                                <%= job.questions[i].option1 %>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="answers[<%= i %>]" id="option2" value="Option2">
                                                            <label class="form-check-label" for="option2"
                                                                style="pointer-events: none;">
                                                                <%= job.questions[i].option2 %>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="answers[<%= i %>]" id="option3" value="Option3">
                                                            <label class="form-check-label" for="option3"
                                                                style="pointer-events: none;">
                                                                <%= job.questions[i].option3 %>
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio"
                                                                name="answers[<%= i %>]" id="option4" value="Option4">
                                                            <label class="form-check-label" for="option4"
                                                                style="pointer-events: none;">
                                                                <%= job.questions[i].option4 %>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                                    <button type="submit" class="btn btn-primary rounded-pill w-100"><i
                                            class="fi-plus fs-sm me-2"></i>Submit Test</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </main>
    <%- include('../partials/footer.ejs') %>